<h5>{{ eventType }} event on {{ formatDate date }}</h5>
<table class="summary-list">
    <tr><td>Event Type</td><td>{{ eventType }}</td></tr>
    <tr><td>Triggered At</td><td>{{ formatDate triggeredAt }}</td></tr>
    <tr><td>Trigger Type</td><td>{{ triggerType }}</td></tr>
    <tr><td>Adjustment Type</td><td>{{ adjustmentType }}</td></tr>
    <tr><td>Adjustment Minutes</td><td>{{ adjustmentMinutes }}</td></tr>
    <tr><td>Adjustment Date</td><td>{{ formatDate adjustmentDate }}</td></tr>
    <tr><td>Adjustment Reason</td><td>{{ adjustmentReason }}</td></tr>
</table>